<% head %>


    <h1><%= title %></h1>

    <p>Welcome to <%= title %></p>


    <nav>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="#about">About</a>
      </li>
      <li>
        <a href="#">Services</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    <nav>

 <div class="container-fluid">
   <div class="row">
     <div class="">

      <section id="home">

      </section>

     </div>
  </div>
</div>

<% footer %>
