<% include head %>

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <img src="/images/cfl_logo_orange.png" alt="CFL Logo" style="width:100px;height:50px;" />
        </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li class="active">
                    <a href="/">Home</a>
                  </li>
                  <!-- <li>
                    <a href="#about">About</a>
                  </li> -->
                  <li>
                    <a href="#services-page">Services</a>
                  </li>
                  <li>
                    <a href="#contact-page">Contact</a>
                  </li>
                </ul>
        </div>
      </div>
    </nav>

    <!-- <H3 class="text-center"><%= title %></H3> -->

<!-- Home Page -->
  <section id="home">
      <div class="jumbotron">
       <div class="container-fluid">
         <div class="row">
            <div class="">   <!-- mobile, tablet, desktop responsive classes-->
                <div class="col-md-7">
                    <h1 id="home-title">QUALITY, SERVICE AND COMMITMENT SINCE 2005</h1>
                    <p id="home-text" class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.</p>
                  </div>

                    <div class="col-md-5">
                      <span><i class="fa fa-wrench fa-5x" class="about-wrench"></i></span>
                    </div>
              </div>
           </div>
        </div>
      </div>
  </section>

<!-- Services page -->

<section id="services-page">
      <div class="container-fluid">
        <div class="row">
          <div class="">  <!-- mobile, tablet, desktop responsive classes-->

               <div class="col-md-12">
                  <h3 id="services-title" class="text-center">OUR SERVICES</h3>
                       <p class="text-center" id="services-text">
                         Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit.
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.
                       </p>
              </div>
            </div>
                 <div class="col-md-4">
                   <p class="text-center"><i class="fa fa-bolt fa-5x"></i></p>
                      <p class="text-center"><b>ALTERNATORS</b></p>
                   <p  class="services-text" class="text-center">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis.
                   </p>
                 </div>
                 <div class="col-md-4">
                   <p class="text-center"><i class="fa fa-key fa-5x"></i></p>
                      <p class="text-center" ><b>STARTERS</b></p>
                   <p class="services-text" class="text-center">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis.
                   </p>
                 </div>
                 <div class="col-md-4">
                   <p class="text-center"><i class="fa fa-battery-empty fa-5x"></i></p>
                      <p class="text-center"><b>BATTERIES</b></p>
                   <p  class="services-text" class="text-center">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis.
                   </p>
                 </div>
          </div>
        </div>
      </div>
</section>


<!-- Contact page -->

<section id="contact-page">
      <div class="container-fluid">
        <div class="row">
          <div class="">  <!-- mobile, tablet, desktop responsive classes-->

               <div class="col-md-12">
                  <h3 id="contact-title" class="text-center">CONTACT US</h3>
                       <!-- <p class="text-center" id="contact-num">
                         Call US AT (773) 622-3070
                       </p> -->
              </div>
            </div>
                 <div class="col-md-6">
                    <div id="cflnorthside">
                   <!-- <p class="text-center"><i class="fa fa-map fa-5x"></i></p> -->
                      </div>
                      <p class="text-center"><b>NORTHSIDE</b></p>
                         <p class="text-center" class="contact-text" >
                           4929 West Grand Avenue, Chicago, IL  60639
                         </p>
                         <p class="text-center">
                           (773) 968-7978
                         </p>
                 </div>
                 <div class="col-md-6">

                   <p class="text-center"><i class="fa fa-map fa-5x"></i></p>

                      <p class="text-center" ><b>SOUTHSIDE</b></p>
                         <p class="text-center" class="contact-text">
                           2917 W. Cermak Road, Chicago, IL  60623
                         </p>
                         <p class="text-center">
                           (773) 221-0100
                         </p>
                 </div>
                     <div class="col-md-12">
                          <p class="text-center"><b class="contact-hours">OPEN 7 DAYS A WEEK</b></p>
                             <p id="contact-foot-margin" class="text-center">
                               Monday - Saturday 8:30 am - 6:30 pm * Sunday 10:00 am - 3:00 pm
                             </p>
                     </div>
                </div>
        </div>
      </div>
</section>

    <!-- bottom nav bar -->
<nav class="navbar navbar-default navbar-static-bottom">
  <div class="container">
    <div class="navbar-header">
            <ul class="nav navbar-nav">
              <li>
                <a href="/">Home</a>
              </li>
              <!-- <li>
                <a href="#about">About</a>
              </li> -->
              <li>
                <a href="#services-page">Services</a>
              </li>
              <li>
                <a href="#contact-page">Contact</a>
              </li>
            </ul>
      </div>
    <footer>&copy; 2015-16 All rights reserved. CFL Starters and Alternators Inc.</footer>
  </div>
</nav>

<% include footer %>
