<% include head %>

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <img src="/images/cfl_logo_orange.png" alt="CFL Logo" style="width:100px;height:50px;" />
        </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li class="active">
                    <a href="/">Home</a>
                  </li>
                  <!-- <li>
                    <a href="#about">About</a>
                  </li> -->
                  <li>
                    <a href="#services-page">Services</a>
                  </li>
                  <li>
                    <a href="#contact-page">Contact</a>
                  </li>
                </ul>
        </div>
      </div>
    </nav>

    <!-- <H3 class="text-center"><%= title %></H3> -->

<!-- Home Page -->
  <section id="home">
      <div class="jumbotron">
       <div class="container-fluid">
         <div class="row">
            <div class="">   <!-- mobile, tablet, desktop responsive classes-->
                <div class="col-md-7">
                    <h1 id="home-title">QUALITY, SERVICE AND COMMITMENT SINCE 2005</h1>
                    <p id="home-text" class="text-justify">CFL began in 2005 with its first shop in the Portage Park neighborhood on Grand Avenue. Owner, Luis Frias, has twenty years of experience in the automotive electronics industry. Our employees are experienced technicians, and several workers have been employed with the company since it opened thirteen years ago.</p>
                  </div>
                    <div class="col-md-5 hidden-xs">
                      <img src="/images/shop.png" alt="photo of alternators" >
                    </div>
              </div>
           </div>
        </div>
        <p class="text-center"><a href="#services-page"><i class="fa fa-arrow-circle-o-down"></i></a></p>
      </div>
  </section>

<!-- Services page -->

<section id="services-page">
      <div class="container-fluid">
        <div class="row">
          <div class="">  <!-- mobile, tablet, desktop responsive classes-->

               <div class="col-md-12">
                  <h3 id="services-title" class="text-center">OUR SERVICES</h3>
                       <p class="text-center" id="services-text">
                         CFL customers are offered the best quality products including price match guaranteed on select products. Moreover, we inspect and test the products twice to ensure all of our products are reliable and better than our competitors. In addition, we have wholesale prices, next day shipping, and free delivery within a 30 miles radius. <br /> <i>FREE delivery within a 10 miles radius of the store.</i> <br />
                    </div>
                <div class="col-md-12">
                    <h4 id="brand-title">Brands we use:</h4>
                      			<ul class="text-center" class="brand-list" >
                      				<li>Delco Remy</li>
                      				<li>Taditel Regitar USA</li>
                      				<li>J&N</li>
                      				<li>Amsco</li>
                      				<li>Dubois<li>
                      			</ul>
                        <p class="text-center">We service car owners, auto shops, and mechanics. <a href="#contact-page">Contact</a> us today!</p>
                        <p class="text-center"><b>Cash or <i class="fa fa-cc-visa"></i> card are accepted!
                        </b</p>
              </div>
            </div>
                 <div class="col-md-4">
                   <p class="text-center"><i class="fa fa-bolt fa-5x"></i></p>
                      <p class="text-center"><b>ALTERNATORS</b></p>
                   <p  class="services-text" class="text-center">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis.
                          <ul>
                    				<li>New Alternators</li>
                    				<li>Rebuilt Alternators</li>
                    				<li>Standard Cars</li>
                    				<li>Passenger Vehicles</li>
                    				<li>Trucks</li>
                    				<li>Semis</li>
                    				<li>Boat and Marine</li>
                    				<li>Construction Vehicles</li>
                    				<li>Commercial Vehicles</li>
                    				<li>We Can Upgrade your Alternator to High Amp for your sound system</li>
                    			</u>
                   </p>
                 </div>
                 <div class="col-md-4">
                   <p class="text-center"><i class="fa fa-key fa-5x"></i></p>
                      <p class="text-center" ><b>STARTERS</b></p>
                   <p class="services-text" class="text-center">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis.
                     <ul>
                				<li>New Starters</li>
                				<li>Rebuilt Starters</li>
                				<li>Standard Cars</li>
                				<li>Passenger Vehicles</li>
                				<li>Trucks</li>
                				<li>Semis</li>
                				<li>Boat and Marine</li>
                				<li>Construction Vehicles</li>
                				<li>Commercial Vehicles</li>
                			</u>
                   </p>
                 </div>
                 <div class="col-md-4">
                   <p class="text-center"><i class="fa fa-battery-empty fa-5x"></i></p>
                      <p class="text-center"><b>BATTERIES</b></p>
                   <p  class="services-text" class="text-center">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis.
                           <ul>
                    				<li>New Batteries</li>
                    				<li>Refurbished Batteries</li>
                    				<li>Foreign and Domestic Cars/Trucks</li>
                    			</ul>
                    </p>
                 </div>
          </div>
        </div>
      </div>
</section>


<!-- Contact page -->

<section id="contact-page">
      <div class="container-fluid">
        <div class="row">
          <div class="">  <!-- mobile, tablet, desktop responsive classes-->
               <div class="col-md-12">
                  <h3 id="contact-title" class="text-center">CONTACT US</h3>
                       <p class="text-center" class="contact-sub-title"><b>
                         TWO CONVENIENT LOCATIONS
                       </b></p>

              </div>
                  <div class="col-md-12">
                    <div id='cflmap'></div>
                  </div>
                 <div class="col-md-6">
                      <p class="text-center" class="location-title"><b>NORTHSIDE</b></p>
                         <p class="text-center" class="contact-text" >
                           4929 West Grand Avenue, Chicago, IL  60639 <br />
                            (773) 968-7978
                         </p>
                 </div>
                 <div class="col-md-6">
                      <p class="text-center"><b>SOUTHSIDE</b></p>
                         <p class="text-center" class="contact-text">
                           2917 W. Cermak Road, Chicago, IL  60623 <br />
                           (773) 221-0100
                         </p>
                 </div>
                     <div class="col-md-12">
                          <p class="text-center" id="contact-hours"><b class="contact-hours">OPEN 7 DAYS A WEEK</b></p>
                             <p id="contact-foot-margin" class="text-center">
                               Monday - Saturday 8:30 am - 6:30 pm, Sunday 10:00 am - 3:00 pm
                             </p>
                     </div>
                </div>
            </div>
        </div>
      </div>
</section>
        <div id="payments">
            <p class="text-center"> We accept
              cash or <i class="fa fa-cc-visa"></i> card payments.
            </p>
        </div>
    <!-- bottom nav bar -->
<nav class="navbar navbar-default navbar-static-bottom">
  <div class="container">
    <div class="navbar-header">
            <ul class="nav navbar-nav">
              <li>
                <a href="/">Home</a>
              </li>
              <!-- <li>
                <a href="#about">About</a>
              </li> -->
              <li>
                <a href="#services-page">Services</a>
              </li>
              <li>
                <a href="#contact-page">Contact</a>
              </li>
            </ul>
      </div>
    <!-- <div><i class="fa fa-key" style="margin: auto"></i></div> -->
    <span>
        <footer>&copy; 2015-16  CFL Starters & Alternators. All rights reserved.</footer>
  </span>
  </div>
</nav>

<% include footer %>
