
// $center {
//     margin: auto;
//     padding: 5px;
// }

//-----------------------
//colors
//------------------------
$orange: rgb(255, 80, 0);
$blue: rgb(43, 65, 77);
$gray: rgb(105, 105, 105);
$white: rgb(255, 255, 255);




//-----------------------
//fonts
//------------------------
$reg-text: 1.5rem;
$med-text: 2rem;
$large-text: 3rem;
