@import "variables";

body {
  font-family: 'Droid Sans', sans-serif !important;
}

.jumbotron {
  background-color: $orange !important;
}

#home-title {
  color: $white !important;
}

#home-text {
  color: $white;
  font-size: $reg-text;
}
