@import "variables";

body {
  font-family: 'Droid Sans', sans-serif !important;
}

.jumbotron {
  background-color: $orange !important;
}

#home-title {
  color: $white !important;
}

#home-text {
  color: $white;
  font-size: $reg-text;
}
 .about-wrench {
   display: block;
   margin: 0px auto;
 }

#services-text {
  margin-bottom: 5%;
}

.services-text {
  margin-top: 6%;
}

#contact-num {
  color: $orange;
}

.contact-hours {
  color: $orange;
}

#contact-foot-margin {
  margin-bottom: 7%;
}

 footer {
   position: fixed!important;
   bottom: 0!important;
   left: 0!important;
   margin-left: 43%;
 }
